secrets
dev-ops-labs_accessKeys.csv
terraform.tfvars
.terraform
.terraform.lock.hcl
terraform.tfstate
.gitignore
terraform.tfstate.backup
id_rsa
id_rsa.pub
dataSources-code
dev-terraform.tfvars
build
test-folder